
table{
  min-width: 90% !important;
  width: 90% !important;
  max-width: 1200px;
  margin: 0 auto;
}

table thead{
  background-color: darkorchid;
}
.cdk-column-image{
  width: 10%;
}
img{
  max-width: 100%;
}
mat-card{
  width: 30%;
  margin-bottom: 40px;

  h2{
    margin: 0 auto;
    text-align: center;
    color: hotpink;
    font-size: 1rem;
  }
  a, a:hover, a:visited{
    text-decoration: none;

  }
}
