
.cakeDetailContainer{
  width: 90%;
  margin: 0 auto;
}

img{
  width: 100%;
  margin: 0 auto;
  align-content: center;
  text-align: center;
}

.button{
  margin: 0 auto !important;
  text-align: center;
  align-items: center !important;
  button{
    width: 120px;
    background-color: hotpink;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    margin: 40px;
  }
}

