<mat-button-toggle-group #group="matButtonToggleGroup" (change)="toggleView(group.value)" aria-label="Vista">
  <mat-button-toggle value="cards"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="filter"></mat-icon></mat-button-toggle>
  <mat-button-toggle value="table"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="table_chart"></mat-icon></mat-button-toggle>
</mat-button-toggle-group>

<div class="container" *ngIf="currentView === 'cards'">
  <app-base-card [myCakes]="cakeListArray"></app-base-card>
</div>
<div class="container" *ngIf="currentView === 'table'">
  <app-base-grid [myCakes]="cakeListArray" ></app-base-grid>
</div>
